{% block bow_tag_management %}
    <div class="bow-tag-management">
        {% block bow_tag_management_content %}
            <sw-card-view>
                {% block bow_tag_management_content_card %}
                    <sw-card :isLoading="isLoading">
                        {% block bow_tag_management_content_card_grid %}
                            <sw-data-grid
                                :dataSource="tags"
                                :columns="columns"
                                :showSettings="true"
                                :showSelection="false">

                                {% block bow_tag_management_grid_columns_priority %}
                                    <template #column-priority="{ item }">
                                        <sw-number-field
                                            :value="item.customFields ? item.customFields.bowAutoLinks.priority : 1"
                                            @change="updatePriority(item)"
                                            :min="0"
                                            :max="10"
                                            :digits="1">
                                        </sw-number-field>
                                    </template>
                                {% endblock %}
                            </sw-data-grid>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </div>
{% endblock %}
